@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div class="row">
    <div class="d-flex col flex-row-reverse">
        @if (SignInManager.IsSignedIn(User))
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                <button type="submit" class="button-4">Logout</button>
            </form>
        }
        else
        {
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">
                <button class="button-4">Login</button>
            </a>
        }
    </div>
</div>