@page
@model OperationCHAN.Areas.Error.Pages.AccessDenied

@{
    ViewData["Title"] = "Access denied";
}


<script type="text/javascript">
    function onClick() {
        location.replace("/")
    }
</script>

<div class="box">
    <div class="text-center">
        <h1 class="text-white mb-4 mt-5">Access Denied</h1>
        <video id="notpass" onended="red()" autoplay muted style="width: 50vw" >
            <source id="notpass_src" src="~/vid/notpass.mp4" type="video/mp4">
        </video>
        
    </div>
</div>

<script type="text/javascript">
var vid = document.getElementById("notpass");
vid.load();
vid.play();

function red() {
    var base_url = window.location.origin;
    window.location.href = base_url;
}
</script>

