@page
@model OperationCHAN.Areas.Error.Pages.Error

@{
    ViewData["Title"] = "Error";
}

<script type="text/javascript">
    function onClick() {
        location.replace("/")
    }
</script>


<div class="box">
    <div class="text-center">
        <h1 class="text-white mb-4 mt-5">ERROR</h1>
        <h3 class="text-white mb-4" >Something went wrong</h3>
        <div class="container justify-content-md-center w-50">
            <button  class="btn btn-md bg-white col-md-6 mb-5" onclick="onClick()">Go back to start</button>
        </div>
    </div>
</div>
