@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="box">
    <div class="text-center">
        <form method="post">
            <h1 class="text-white mb-4 mt-5">Reset password</h1>
            <div class="container">
                <div class="row mb-4 justify-content-md-center">
                    <div class="col col-sm-12 col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Enter email" autocomplete="username" aria-required="true"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-5">Reset Password</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}