.header {
    background-color: #07c;
    border: none;
    width: inherit;
}

#btn_settings {
    background-color: #004A82;
}

.headerButton {
    width: 100%;
    background: transparent;
    border: none;
}

#Link {
    border: none;
}