@page
@using Microsoft.AspNetCore.Identity
@using OperationCHAN.Models
@inject SignInManager<ApplicationUser> SignInManager
@model OperationCHAN.Areas.Ticket.Pages.Queue

@{
    ViewData["Title"] = "Your place in queue";
}

<div class="box mt-5" style="max-width: 600px; margin-left: auto; margin-right: auto" id="queue-@Model.Ticket.Id">
    <div class="text-center" id="course:@Model.Ticket.Course">
            <div class="row mb-4 justify-content-md-center">

                <h3 class="text-white mb-2">HI @Model.Ticket.Nickname</h3>

                <h5 class="text-white mb-1">YOU ARE NUMBER</h5>

                <h1 class="display-1 text-white mb-1" id="counter">@Model.Count</h1>

                <h5 class="text-white mb-1">IN THE QUEUE</h5>

                <span id="validation" class="text-danger"></span>
                <br/>
            </div>
            <button class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4" onclick="redirect('/ticket/edit')">EDIT TICKET</button>
            <br/>
            <button class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4" onclick="removeTicket(@Model.Ticket.Id)">CANCEL TICKET</button>
          
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/queue.js"></script>