<div id="settings" class="text-white mb-4 mt-2">
    <form action="https://localhost:7006/Identity/Account/Manage">
        <button class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4" type="submit">Profile</button>
    </form>
    <form action="https://localhost:7006/Identity/Account/Manage/ChangePassword">
        <button class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4" type="submit">Change Password</button>
    </form>
    <form action="https://localhost:7006/Identity/Account/Manage/ExternalLogins">
        <button class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4" type="submit">External Services</button>
    </form>
        <form action="https://localhost:7006/Identity/Account/Manage/PersonalData">
        <button class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4" type="submit">Delete Personal Data</button>
        </form>
</div>