@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OperationCHAN.Areas.Settings.Pages.Settings

<div id="timeedit" style="display:none" class="mb-4 mt-5">
    <table id="table">
            <form method="post">
                <tr>
                    <td>
                        <input style="width: 100%" placeholder="https://cloud.timeedit.net/uia/web/tp/123456789.html">
                    </td>
                    <td><input type="submit" class="btn addButton" value="Add"></td>
                </tr>
                @Html.AntiForgeryToken()
        </form>
        
        @{
            foreach (var link in Model.Links)
            {
                var l = link.CourseLinks.Replace("ics", "html");
              <tr>
                  <td><a href="@l" target="_blank">@l</a></td>
                  <td>
                      <button type="submit" onclick="archive(event)" class="btn rmButton">Remove</button>
                  </td>
              </tr>
          }
        }
    </table>
    <a href="https://www.w3schools.com/" target="_blank">How do i get a TimeEdit link?</a>
</div>