<div id="timeedit" style="display:none" class="mb-4 mt-5">
    <table id="table">
        <tr>
            <th>http://timeedit.no/testlink1</th>
            <th></th>
        </tr>
        <tr>
            <th>http://timeedit.no/testlink2</th>
            <th></th>
        </tr>
    </table>
    <button class="btn btn-md bg-white col-md-auto col-lg-2 col-sm-5 mb-4" onclick="onCreate()">Update</button>
            <link href="vg.no" class="text-white">How do i get a TimeEdit link?</link>
</div>