@page
@using Microsoft.AspNetCore.Identity
@using OperationCHAN.Models
@inject SignInManager<ApplicationUser> SignInManager
@model OperationCHAN.Areas.Settings.Pages.Admin

@{
    ViewData["Title"] = "Settings";
}
<div class="box" xmlns="http://www.w3.org/1999/html">
    <div class="text-center">
        <h1 class="text-white mb-4 mt-5">Settings</h1>
        
        <div class="container">
            
            <div id="navbar" class="row">
                <div id="left" class="header col-sm">
                    <button class="headerButton" onclick="showSettings()">Settings</button>
                </div>
                <div id="right" class="header col-sm">
                    <button onclick="showTimeEdit()" class="headerButton">TimeEdit</button>
                </div>
                <div id="right" class="header col-sm">
                    <button onclick="showTimeEdit()" class="headerButton">Users</button>
                </div>
            </div>
            
        </div>
        
        @{await Html.RenderPartialAsync("_SettingsPartial");}
        @{await Html.RenderPartialAsync("_TimeEditPartial");}
        @{await Html.RenderPartialAsync("_SettingsPartial");}
        
    </div>
</div>

<script src="~/js/settings.js"></script>