@page
@using Microsoft.AspNetCore.Identity
@using OperationCHAN.Models
@model OperationCHAN.Areas.Settings.Pages.Settings

@{
    ViewData["Title"] = "Settings";
}
<div class="box" xmlns="http://www.w3.org/1999/html">
    <div class="text-center">
        <h1 class="text-white mb-4 mt-5">Settings</h1>
        
        <div class="container">
            
            <div id="navbar text-white" class="row">

                @if (Model.Role == "Admin")
                {
                    <div id="btn_settings" class="header col-sm">
                        <button onclick="showSettings()" class="headerButton text-white">Settings</button>
                    </div>
                    <div id="btn_timeedit" class="header col-sm">
                        <button onclick="showTimeEdit()" class="headerButton text-white">TimeEdit</button>
                    </div>
                    <div id="btn_roles" class="header col-sm">
                        <button onclick="showRoles()" class="headerButton text-white">Roles</button>
                    </div>
                }

            </div>
        </div>
        <div style="height:20px" class="mt-2 mb-2 text-white">
            <p id="errorMessage" class="h6"></p>
        </div>
        @{
            if (Model.Role == "Admin")
            {
                await Html.RenderPartialAsync("_TimeEditPartial", Model);
                await Html.RenderPartialAsync("_RolesPartial", Model);
            }
            
            await Html.RenderPartialAsync("_SettingsPartial");
        }
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/settings.js"></script>