@page
@using Microsoft.AspNetCore.Identity
@using OperationCHAN.Models
@inject SignInManager<ApplicationUser> SignInManager
@model OperationCHAN.Areas.Settings.Pages.User

@{
    ViewData["Title"] = "Settings";
}
<div class="box" xmlns="http://www.w3.org/1999/html">
    <div class="text-center">
        <h1 class="text-white mb-4 mt-5">Settings</h1>

        @{await Html.RenderPartialAsync("_SettingsPartial");}
    </div>
</div>

<script src="~/js/settings.js"></script>